<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/estilos.css" />
    <title>Document</title>
  </head>
  <body>
    <h2>hola contacto</h2>
    <div class="container">
      <div class="form-container">
        <form>
          <label for="nombre" class="contacto-label">Nombre:</label>
          <input
            type="text"
            id="nombre"
            name="name"
            placeholder="Nombre Apellido"
            required
          />
          <label for="consulta" class="contacto-label">Consulta:</label>
          <input
            type="text"
            id="consulta"
            name="name"
            placeholder="Necesito informacion del producto...."
            required
          />
          <label for="celular" class="contacto-label">Celular:</label>
          <input type="number" id="celular" name="name" required />
          <label for="correo" class="contacto-label">Celular:</label>
          <input
            type="email"
            id="correo"
            name="name"
            placeholder="juan@gmail.com"
            required
          />
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </body>
</html>
