<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" href="../img/dijeLogo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/estilos.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>DIAMOND</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <img src="../img/logo2.png" alt="logo" class="logo navbar-brand" />
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="fas fa-bars" id="hamburger-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/productos">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="section-carrusel">
        <div class="carrusel-contenedor">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="../img/joyas1.jpg"
                  class="img-carrusell d-block w-100"
                  alt="anilloColores"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../img/joyas2.jpg"
                  class="img-carrusell d-block w-100"
                  alt="dijeCorazon"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../img/joyas3.jpg"
                  class="img-carrusell d-block w-100"
                  alt="pulceraNegra"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>
      <section>
        <div class="contenedor-baner">
          <div class="baner">
            <h2 class="titulo-baner">
              Diseños exclusivos,<span class="titulo-baner-diferente"
                >Elegancia que destaca</span
              >
            </h2>
            <div class="contenedor-boton-cuotas" href="/productos">
              <a href="/productos" class="boton-baner">VER COLECCIÓN</a>
              <p class="baner-cuotas">Hasta 3 y 6 cuotas sin intereses</p>
            </div>
          </div>
        </div>
      </section>
      <!-- <div class="container">
        <input type="checkbox" id="toggle-form" class="toggle-form" />
        <label for="toggle-form" class="button">Agregar Producto</label>

        <div class="form-container">
          <form>
            <label for="foto">Imagen:</label>
            <input type="url" id="foto" name="email" required />
            <label for="producto">Producto:</label>
            <input type="text" id="producto" name="name" required />
            <label for="descripcio">Descripcio:</label>
            <input type="text" id="descripcio" name="name" required />
            <label for="precio">Precio:</label>
            <input type="text" id="precio" name="name" required />
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div> -->
    </main>
    <footer>
      <p>Copyright Diamond - 2024. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
