* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4e6e1 !important;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 8rem;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0 8px 30px rgba(255, 255, 255, 1));
}

.tituloPrincipal {
  font-size: 1.7rem;
  color: aliceblue;
}
header {
  background-color: #5c1818;
  padding: 0px 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.navbar {
  max-width: 1200px;
  margin: auto;
}
.menu {
  list-style-type: none;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  width: 100%;
}
.navbar-toggler .fas.fa-bars {
  color: #ceb633c4;
}
.nav-link {
  text-decoration: none;
  color: #ceb633c4;
  font-size: 1.1rem;
  font-family: "Merienda" !important;
}

.navbar-toggler {
  border-color: #ceb633c4;
}
.navbar-brand {
  margin-right: auto;
}
.navbar-nav {
  margin-left: auto;
}
.navbar-nav .nav-link {
  color: #ceb633c4;
  text-align: center;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
}
.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1500px;
  margin: 25px auto;
}
.card-contenedor {
  width: 400px;
  height: 544px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5e6e7;
  border: #5c1818 2px solid;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.card-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.nombreProc {
  font-size: 1.5em;
  padding-bottom: 0rem !important;
}
.card-contenedor-tex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-descrpcion {
  text-align: center;
  margin: 0;
}

.container {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5c1818;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #855b4f;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
  margin: 30px auto;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contacto-label {
  text-align: start;
}
input[type="text"],
input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 40px;
  background-color: #5c1818;
  margin: auto;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #77052b;
}
.Cancelar {
  padding: 10px 40px;
  background-color: #aa9494;
  margin: auto;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}
.Cancelar:hover {
  background-color: #a7a28e;
}
label {
  font-size: 1.2rem;
  font-weight: 500;
}
.img-carrusell {
  object-fit: cover;
  height: 300px;
  max-width: 1000px;
}
.carrusel-contenedor {
  max-width: 1000px;
  margin: 20px auto;
}
.section-carrusel {
  background-color: #5c18182e;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.contenedor-baner {
  background-color: #5c18182e;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.contenedor-tex-medio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.contenedor-tex-medio-primero {
  color: #a08808c4;
  text-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  font-family: "Noto Serif", serif !important;
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
}
.contenedor-tex-medio-segundo {
  color: #a08808c4;
  text-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  font-family: "Merienda", cursive !important;
  font-optical-sizing: auto;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.baner {
  background-image: url(../img/baner1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.titulo-baner {
  color: #f2e1e1;

  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-top: 20px;
}
.titulo-baner-diferente {
  font-weight: 800;
}
.contenedor-boton-cuotas {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.boton-baner {
  color: #f7f3f3;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  background-color: #5c1818;
  text-decoration: none;
}
.boton-baner:hover {
  background-color: #953e3e;
  box-shadow: 0 8px 16px rgba(241, 233, 233, 0.4);
}
.baner-cuotas {
  color: #f2e1e1;
  font-weight: 500;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
}
footer {
  padding-block: 10px;
  background-color: #5c1818;
  color: #ceb633c4;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.boton_edi_eli {
  text-decoration: none;
  color: #5c1818;
  font-weight: 800;
}
.boton_edi_eli:hover {
  color: #cf580ff3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.contenedor_edi-eli {
  display: flex;
  gap: 25px;
  padding-bottom: 10px;
}
.crearProd {
  display: block;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  color: #5c1818;
  font-weight: 800;
}
.crearProd:hover {
  color: #cf580ff3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.contenedor_Botones {
  margin: 0 auto;
  display: flex;
  gap: 25px;
}
.titulo_form {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}
.texto_form {
  text-align: center;
  font-size: 1.2rem;
}
.texto_nombre_descripcion {
  color: #5c1818;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
  max-width: 1000px;
  margin: 15px auto;
}

.marquee-content {
  display: inline-block;
  animation: marquee 15s linear infinite;
  padding-right: 100%;
  font-size: 1.3rem;
  color: #5c1818;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.Volver {
  font-size: 1.1rem;
  color: #5c1818;
  text-decoration: none;
}

.Volver:hover {
  color: #ceb633c4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
